*.pwb
*.PWB
*.raw
*.RAW
*.txt
*.tgz
*.tar
*.exe
*.swp
*.bin
*.tar
*.out
config.toml

/chunks/*
/data/*
/SyntheticUSA/*
/dupver.code-workspace
/dupver
/bin/*
    
/dupver-linux-x64
/Test_*/
.DS_Store
*.orig

*.code-workspace
